* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
}

a {
  text-decoration: none;
  color: #000000;
  transition: 0.5s;
  padding: 4%;
}

a:hover {
  color: #e48a14;
}
